<!DOCTYPE html>
<html>
<head>
    <title>Il Mio Sito Express</title>
</head>
<body>
    <h1>Benvenuto nel mio sito Express!</h1>
    <p>Questo è il mio primo template EJS</p>
    
    <nav>
        <a href="/">Home</a> |
        <a href="/authors">Autori</a> |
        <a href="/books">Libri</a>
    </nav>
</body>
</html>